* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
#box {
	background-attachment: orange;
	border: 1px solid black;
	padding: 50px;  /*
	padding-top: ;
	padding-bottom: ;
	padding-right: ;
	padding-left: ;*/

	height: 150px;
	width: 150px;
}
marg